DATABASE_URL="Your postgres database url"

UPLOADTHING_SECRET="Your Uploadthing secret"
UPLOADTHING_APP_ID="Your Uploadthing app id"

GOOGLE_API_KEY="Google API key for AI"

UPSTASH_VECTOR_REST_URL="Your upstash vector database rest url"
UPSTASH_VECTOR_REST_TOKEN="Upstash vectorrest token"

AUTH_SECRET="Generated openssl secret key"


AUTH_GOOGLE_ID="Your google client id for oauth"
AUTH_GOOGLE_SECRET="Your google client secret for oauth"

STRIPE_SECRET_KEY="Your stripe secret key"
STRIPE_WEBHOOK_SECRET="Your stripe webhook secret key"